@{
    Layout = "../shared/_Layout";
}

@using WordCard.Models;



<head>
    <link rel="stylesheet" type="text/css" href="css/admin.css" />
</head>

@model Word
<body style="margin: 0 auto">
    <table>
        <thead>
            <tr>
                <th colspan="1">Index</th>
                <th colspan="2">Word</th>
                <th colspan="2">Explanation</th>
                <th colspan="2">CorrectRate</th>
                <th colspan="2">operations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var w in ViewBag.List.Words) {
                if (ViewBag.EditOrUpdate != w.Index){
                    <tr>
                        <td colspan="1" class="half">@w.Index</td>
                        <td colspan="2" class="short">@w.Name</td>
                        <td colspan="2" class="long">@w.Explanation</td>
                        <td colspan="2" class="short">@w.TimesCorrect / @w.TimesAccessed</td>
                        <td colspan="2" class="short"><a href="Admin/Delete/@w.Index" class="danger">Delete</a> <a href="Admin/Edit/@w.Index">Change</a></td>
                    </tr>
                }else{
                    <form method="post" asp-action="Update">
                        <td colspan="1" class="half"><label>@w.Index</label><input value="@w.Index" asp-for="Index" type="hidden"/></td>
                        <td colspan="2" class="short"><input asp-for="Name" size="15" placeholder="@w.Name" class="none"/></td>
                        <td colspan="2" class="long"><textarea asp-for="Explanation" class="none" placeholder="@w.Explanation"></textarea></td>
                        <td colspan="2" class="short"><label>@w.TimesCorrect / @w.TimesAccessed</label></td>
                        <td colspan="2" class="short"><span><button type="submit">Update</button></span> <a href="Admin/Cancel">Cancel</a></td>

                    </form>
                }
            }
            <tr class="form-group">
                @if (ViewBag.AddOrSave == "Add"){
                    Console.Write("ViewBag: " + ViewBag.AddOrSave);
                    <td colspan="7" style="border: none"></td>
                    <td colspan="2"><a href="Admin/Create">Add</a></td>
                }
                else{
                    <form method="post" asp-action="Save">

                        <td colspan="1" class="half"><label>@ViewBag.List.FindNextIndex()</label><input asp-for="Index" value="@ViewBag.List.FindNextIndex()" type="hidden"></td>
                        <td colspan="2" class="short"><input asp-for="Name" size="15" class="none"/></td>
                        <td colspan="2" class="long"><textarea asp-for="Explanation" class="none"></textarea></td>
                        <td colspan="2" class="short"><label>-/-</label></td>
                        <td colspan="2" class="short"><span><button type="submit">Save</button></span> <a href="Admin/Cancel">Cancel</a></td>

                    </form>
                }
                </td>
        </tbody>
    </table>
</body>

