@{
    Layout = "../shared/_Layout";
}

@using WordCard.Models;



<head>
    <link rel="stylesheet" type="text/css" href="css/admin.css" />
</head>

@model IWordRepository
<body>
    <table>
        <thead>
            <tr>
                <th colspan="1">Index</th>
                <th colspan="2">Word</th>
                <th colspan="2">Explanation</th>
                <th colspan="2">CorrectRate</th>
                <th colspan="2">operations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var w in Model.Words){
                <tr class="entry">
                    <td colspan="1" asp-for="Word.Index">@w.Index</td>
                    <td class="entry_title" colspan="2" asp-for="Word.Name">@w.Name</td>
                    <td class="entry_explanation" colspan="2" asp-for="Word.Explanation">@w.Explanation</td>
                    <td colspan="2">@w.TimesCorrect / @w.TimesAccessed</td>
                    <td colspan="2"><a href="Admin/Delete/@w.Index">Delete</a> <a href="Admin/Edit/@w.Index">Change</a></td>
                </tr>
            }
            <tr class="entry">
                 @if (ViewBag.AddOrSave == "Add") {
                     Console.Write("ViewBag: " + ViewBag.AddOrSave);
                     <td colspan="7"></td>
                     <td style="float:right" colspan ="2"><a href="Admin/Create">Add</a></td>
                 } else{
                    <td colspan="1">Placeholder</td>
                    <td colspan="2">Placeholder</td>
                    <td colspan="2">Placeholder</td>
                    <td colspan="2">Placeholder</td>
                    <td colspan="2">Placeholder</td>
                 }
            </tr>
        </tbody>
    </table>

</body>